:root {
	--ratio: 1.5;
	--s-5: calc(var(--s-4) / var(--ratio));
	--s-4: calc(var(--s-3) / var(--ratio));
	--s-3: calc(var(--s-2) / var(--ratio));
	--s-2: calc(var(--s-1) / var(--ratio));
	--s-1: calc(var(--s0) / var(--ratio));
	--s0: 1rem;
	--s1: calc(var(--s0) * var(--ratio));
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
	--measure: 60ch;

	font-family: 'Heebo', sans-serif;

	--stdblue: #3230fb; /* 4456a5 */
	--stdyellow: #e2ff34; /* d3de32 */
	--stdwhite: rgb(250, 250, 250);

	color: var(--stdblue);

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

html {
	overflow-y: scroll;
}

p {
	max-width: 60ch;
	line-height: 1.5;
	margin: 0;
}

h1 {
	font-size: var(--s2);
}

address {
	font-style: normal;
}

abbr[title],
abbr {
	text-decoration: none;
}

a,
a:link,
a:visited {
	text-decoration: none;
	color: #3230fb;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

input {
	border: none;
}
